/**
 * @Date:   2018-03-23T14:25:56+08:00
 * @Last modified time: 2018-03-23T14:39:39+08:00
 */

.nav{
	background: #444;
	height: 40px;
	line-height: 40px;
}
.nav .nav-bar{
	float:left;
}
.nav .user.login{
	display: none;
}
.nav .user .link{
	margin-right:5px;
}
.nav .nav-search{
	float:right;
}
.nav .nav-item{
    width: 50px;
    font-size: 14px;
	display: inline-block;
}
