/**
 * @Date:   2018-03-23T14:25:56+08:00
 * @Last modified time: 2018-03-23T14:39:39+08:00
 */

.nav{
	background: #444;
	height: 40px;
	line-height: 40px;
}
.nav .nav-bar{
	float:left;
}
.nav .nav-search{
	float:right;
}
.nav .nav-item{
    display: inline-block;
    text-align: center;
}
.nav .nav-item .link{
    display: inline-block;
    padding:0 26px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.nav .nav-item .link:hover{
	color: #56adf9;
    background-color: #333;
    border-color: #333;
}
.nav-search .search-input{
    padding: 6px;
}
.nav-search .search-icon{
    cursor: pointer;
    position: absolute;
    top:0%;
    right:1%;
    color: #999;
}
