<!DOCTYPE html>
<html>
	<head>
		<%= require('html-loader!./layout/head-common.html')%>
		<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
	<body>
        <%= require('html-loader!./layout/header.html')%>
        <%= require('html-loader!./layout/nav.html')%>
        <div class="container">
        	<div class="w">
                <div class="detail">
                </div>
        		<%= require('html-loader!./layout/side.html')%>
        	</div>
        </div>
        <div class="scroll-top" id="scrollTop">
            <i class="fa fa-angle-double-up"></i>
        </div>

		<%= require('html-loader!./layout/footer.html')%>
	</body>

</html>
