<!DOCTYPE html>
<html>
	<head>
		<%= require('html-loader!./layout/head-common.html')%>
		<title>Zefey</title>
	</head>
	<body>
		<%= require('html-loader!./layout/header.html')%>
		<div class="page-wrap">
			<div class="w">
				<div class="user-con">
					<div class="user-title">找回密码</div>
					<div class="user-box">
						<div class="error-item">
							<i class="fa fa-minus-circle error-icon"></i>
							<p class="error-msg">error</p>
						</div>
                        <div class="step-con step-username">
                            <p class="user-item-text">请输入用户名:</p>
                            <div class="user-item">
    							<label class="user-label" for="username">
    								<i class="fa fa-user"></i>
    							</label>
    							<input id="username" class="user-content"
    							type="text" placeholder="请输入用户名" autocomplete="off">
    						</div>
    						<a class="btn btn-submit" id="submitUser">下一步</a>
                        </div>
                        <div class="step-con step-question">
                            <p class="user-item-text">密码提示问题是:<span class="question"></span></p>
                            <div class="user-item">
    							<label class="user-label" for="question">
    								<i class="fa fa-user"></i>
    							</label>
    							<input id="question" class="user-content"
    							type="text" placeholder="请输入密码提示问题答案" autocomplete="off">
    						</div>
    						<a class="btn btn-submit" id="submitQuestion">下一步</a>
                        </div>
                        <div class="step-con step-password">
                            <p class="user-item-text">请输入新密码:</p>
                            <div class="user-item">
    							<label class="user-label" for="password">
    								<i class="fa fa-user"></i>
    							</label>
    							<input id="password" class="user-content"
    							type="text" placeholder="请输入新密码" autocomplete="off">
    						</div>
    						<a class="btn btn-submit" id="submitPassword">下一步</a>
                        </div>

						<div class="link-item">
							<a class="link" href="./user-login.html" target="_blank">返回登录>></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= require('html-loader!./layout/footer.html')%>
	</body>
</html>
