/**
 * @Author: devin
 * @Date:   2018-03-23T15:36:04+08:00
 * @Last modified by:   devin
 * @Last modified time: 2018-03-23T15:59:49+08:00
 */
.header{
    height: 100px;
	/* line-height: 100px; */
	background: linear-gradient(#444,#666);
}
.header .logo{
}

.logo span{
    color: #fff;
    font-size: 38px;
    font-weight:500;
}

.logo span:first-child{
    color: #108ee9;
}

.logo p{
    color: #fff;
    font-size: 13px;
}
