<div class="container">
	<div class="w">
		<div class="list">
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="article">
                    <a class="article-title" href="#"><h4>测试测试</h4></a>
                    <p class="article-info">
                        <span>post @ 2018-06-26</span>
                        <span>category: JS</span>
                        <span></span>
                    </p>
                    <div class="article-content">
                        这是一篇测试文章，不知道要写什么。就先随便多打几个字。。。
                    </div>
                    <span class="article-link">
                        <a href="#" class="link">阅读原文>></a>
                    </span>
                </div>
            </div>
        </div>
		<div class="side">
            <div class="panel">
                <div class="panel-head">
                    文章列表
                </div>
                <div class="panel-body">
                    <ol>
                        <li><a href="#">XXXX</a></li>
                        <li><a href="#">XXXX</a></li>
                        <li><a href="#">XXXX</a></li>
                        <li><a href="#">XXXX</a></li>
                    </ol>
                </div>
            </div>
            <div class="panel">
                <div class="panel-head">
                    文章分类
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#">html</a></li>
                        <li><a href="#">css</a></li>
                        <li><a href="#">js</a></li>
                        <li><a href="#">react</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel">
                <div class="panel-head">
                    标签
                </div>
                <div class="panel-body">
                    <div>
                        <a href="#"><span class="tag-item" style="background-color:rgb(255, 85, 0)">XXXXX</span></a>
                        <a href="#"><span class="tag-item" style="background-color:rgb(248, 167, 42)">XX</span></a>
                        <a href="#"><span class="tag-item" style="background-color: rgb(107, 97, 240)">XXX</span></a>
                        <a href="#"><span class="tag-item" style="background-color: rgb(135, 208, 104)">XXX</span></a>
                        <a href="#"><span class="tag-item" style="background-color: rgb(16, 142, 233)">XXX</span></a>
                        <a href="#"><span class="tag-item" style="background-color: rgb(16, 142, 233)">XX</span></a>
                        <a href="#"><span class="tag-item" style="background-color: rgb(135, 208, 104)">XXX</span></a>
                        <a href="#"><span class="tag-item" style="background-color: rgb(16, 142, 233)">XX</span></a>
                        <a href="#"><span class="tag-item" style="background-color:rgb(248, 167, 42)">XX</span></a>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-head">
                    友情链接
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#">XXXX</a></li>
                        <li><a href="#">XXXX</a></li>
                    </ul>
                </div>
            </div>
		</div>
	</div>
</div>
<div class="scroll-top" id="scrollTop">
    <i class="fa fa-angle-double-up"></i>
</div>
