<div class="side">
    <div class="panel">
        <div class="panel-head">
            文章列表
        </div>
        <div class="panel-body">
            <ol class="blog-list">
            </ol>
        </div>
    </div>
    <div class="panel">
        <div class="panel-head">
            文章分类
        </div>
        <div class="panel-body">
            <ul class="category">
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="panel-head">
            标签
        </div>
        <div class="panel-body">
            <div class="label">
            </div>
        </div>
    </div>
    <!-- <div class="panel">
        <div class="panel-head">
            友情链接
        </div>
        <div class="panel-body">
            <ul class="friend-link">
                <li><a href="javascript:;">XXXX</a></li>
                <li><a href="javascript:;">XXXX</a></li>
            </ul>
        </div>
    </div> -->
</div>
