.list {
    float:left;
    width: 830px;
}

.item {
    height: 150px;
    margin: 10px 5px;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px #aaa;
    transition: box-shadow .3s ease-in;
    /* animation: a 1s; */
    /* -webkit-animation: a 1s; */
}

.item:hover {
    box-shadow: 0 0 12px #333;
}

.article {
    padding: 20px;
}

.article-title {
    color: #000;
    font-size: 18px;
    padding: 10px 0px;
    text-decoration: none;
}

.article-info {
    color: #666;
    padding: 6px 0px;
}

.article-content {
    padding: 5px 0px;
    font-size: 14px;
    color: #333;
}

.article-link {
    display: inline-block;
    margin-top: 8px;
}

.article-link .link {
    color: #3197ef;
    font-weight: 700;
}


.scroll-top{
    position: fixed;
    bottom: 80px;
    right: 80px;
    height: 40px;
    width:40px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 38px;
    color: #666;
    display: none;
}

.pagination {
    float: left;
    width: 830px;
    margin: 10px;
}

@keyframes a {
    from {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes a {
    from {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    to {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
